th, td {
    padding: 10px;
}
img {
    width: 100px;
} 
input.getmerchantApi.disabled {
    background: #dcdcdc;
    color: #1c1c1c;
}
textarea#add_css {
    height: 250px;
    width: 485px;
}
textarea#generate_code {
    width: 485px;
    height: 110px;
}
.logo {
    text-align: center;
    margin: 0;
    color: #1b627f;
    background: #1b627f;
    padding: 10px 0;
}
img.logo_img {
    width: 250px;
}
.ui-tabs-active .ui-tabs-anchor {
    background: #1b627f;
    border: #1b627f;
}
input[type=button] {
    background: #1b627f;
    width: auto;
    color: #fff;
    font-size: 20px;
} 
input[type=button] {
    background: #1b627f;
    width: auto;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    text-transform: uppercase;
    border: #1b627f;
}
.ui-tabs.ui-tabs-vertical {
    width: 100%;
    background: #f5f6f8;
    border: none;
    padding: 40px;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 100%;
    background:#f5f6f8;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: none;
    width: auto;
    margin: 0.2em 0;
    border: none!important;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    right: 0;
    z-index: 2;
    background:none!important;
    margin-right:20px;
}
.ui-tabs-active .ui-tabs-anchor {
    background: #606ec6;
    border: 1px solid #4a59b6;
}
.ui-tabs-panel {
    margin-top: 40px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs-panel h3 {
    margin-top: 0;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 100%;
    border-left: none;
    border-radius: 0;
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #e7e8ea;
}
.code_success_msg, .css_success_msg {
    margin-top: 10px;
    color: #008000;
    font-weight: bolder;
}
#settings td {
    font-weight: bold;
}
#settings table {
    background: none;
    border: 0 !important;
    border-color: #fff !important;
    width:100%;
   
}
#settings  label{font-weight:400;}
/*#settings tr:nth-child(3) {
    border-top: 1px solid #cfcfcf;
    width: 100%;
}
#settings{padding:0;}*/
#settings textarea#generate_code {
    width: 100%;
    height: 160px;
    padding: 0 20px 0px;
    font-weight: 400;
    line-height: 25px;
     border: 1px solid #c4cdd4;
}
#settings input.saveoptions {
    border-radius: 4px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    background:#606ec6;
    color:#fff;
    border:1px solid #4a59b4;
}
#settings input.savecss{border-radius: 4px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    background:#606ec6;
    color:#fff;
    font-size: 14px;
    border:1px solid #4a59b4;}
.customcss textarea#add_css {
    height: 220px;
    width: 100%;
    padding: 0 20px 0;
    font-weight: 400;
    font-size: 14px;
     border: 1px solid #c4cdd4;
}
#register input.btn{border-radius: 4px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    background:#606ec6;
    color:#fff;
    font-size: 14px;
    border:1px solid #4a59b4;}
#settings input {
    padding: 10px;
    border-radius: 4px;
    box-shadow: none!important;
    -webkit-box-shadow: none !important;
    border: 1px solid #c4cdd4;
}
.atc input[type=radio] + label:before, .optn input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #f5f6f8;
    box-shadow: 0;
    border-radius: 8px;
    border: 1px solid #c9d2d9;
}
.atc input[type=radio]:checked + label:before, .optn input[type=radio]:checked + label:before{
    content: "\2022"; /* Bullet */
    color:#606ec6;
    font-size:1.8em;
    text-align:center;
    line-height:14px;
    text-shadow:0px 0px 3px #eee;
    border: 1px solid #c9d2d9;
}
.atc label, .optn label {
    margin-left: -19px;
    margin-top: -4px;
    position:relative;
    top:-3px;
}
